<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/header :: copy"></head>

<body>
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center" th:text="${msg}">Dummy Text</h1>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>게시판 연습</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, incidunt necessitatibus quas ratione
            rem temporibus voluptatibus! Consectetur dolor hic modi officiis optio placeat</p>
            <p><a class="btn btn-info btn-lg" href="/board" role="button">View &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Project 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, incidunt necessitatibus quas ratione
                rem temporibus voluptatibus! Consectetur dolor hic modi officiis optio placeat</p>
            <p><a class="btn btn-info btn-lg" href="#" role="button">View &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Project 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, incidunt necessitatibus quas ratione
                rem temporibus voluptatibus! Consectetur dolor hic modi officiis optio placeat</p>
            <p><a class="btn btn-info btn-lg" href="#" role="button">View &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Project 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, incidunt necessitatibus quas ratione
                rem temporibus voluptatibus! Consectetur dolor hic modi officiis optio placeat</p>
            <p><a class="btn btn-info btn-lg" href="#" role="button">View &raquo;</a></p>
        </div>
    </div>
</div> <!-- /container -->

<div th:replace="layouts/footer :: copy"></div>
</body>
</html>